<nav>
  <a href="#header" id="header" (click)="handleActiveNavButton()"
    ><mat-icon aria-hidden="false" aria-label="home" fontIcon="home"></mat-icon
  ></a>
  <a href="#about" id="about" (click)="handleActiveNavButton()">
    <mat-icon
      aria-hidden="false"
      aria-label="home"
      fontIcon="school"
    ></mat-icon>
  </a>
  <a href="#projects" id="projects" (click)="handleActiveNavButton()"
    ><mat-icon
      aria-hidden="false"
      aria-label="home"
      fontIcon="collections_bookmark"
    ></mat-icon
  ></a>
</nav>
